.retailPrice {
  color: #4D4D4D;
  font-weight: 600;
  margin-right: 10px;
}
.regularPrice {
  text-decoration-line: line-through;
  color: #CBCBCB;
  font-weight: 600;
}
.largeSize {
  font-size: 30px;
}
.mediumSize {
  font-size: 26px;
}
.smallSize {
  font-size: 22px;
}