@import "../../mixins";

.container {
  max-width: 1140px;
  width: calc(100% - 20px);
  margin: 10px auto;
  background-color: #FFFFFF;
  display: flex;
  height: calc(100vh - 20px);
  padding: 10px 0;
  @include md{
    flex-direction: column-reverse;
  }
  .leftContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9;
    .backButton {
      display: flex;
      .leftButton {
        display: flex;
        .text{
          margin-left: 5px;
          padding-left: 5px;
        }
      }
      .basketButton {
        margin-left: 20px;
      }
    }
    .box {
      .buttonText {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
      }
    }
    @include md{
      background-color: #ffffff63;
      .box {
        margin: 10px 5px;
      }
      .backButton {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
        top: 10px;
        left: 0;
        padding: 10px;
      }
    }
    .regularPrice {
      text-decoration-line: line-through;
      color: #CBCBCB;
      font-size: 30px;
      font-weight: 600;
    }
    .retailPrice {
      color: #4D4D4D;
      font-size: 30px;
      font-weight: 600;
      margin-right: 10px;
    }
  }
  .rightContainer {
    flex: 1;
    border-left: 1px solid #D1D1D1;
    @include md{
      max-height: 300px;
      border-left: unset;
    }
    @include xs{
      max-height: 250px;
    }
    .productDefaultImage {
      width: 100%;
      @include md{
        width: auto;
        max-width: 100%;
        max-height: calc(100vh - 10px);
        object-fit: cover;
        margin: 0 auto;
        float: right;
      }
    }
  }
}

.borderTop {
  border-top: 1px solid #D1D1D1;
  padding-top: 20px;
}

.selectVariation {
  max-width: max-content;
  @include xs {
    max-width: unset;
  }
}
.addToBasketButton {
  @include xs {
    width: 100%;
  }
}
.description {
  color: #D1D1D1;
}