
@mixin for-size($size) {
  @if $size == phone {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet {
    @media (max-width: 992px) { @content; }
  } @else if $size == desktop-up {
    @media (max-width: 1200px) { @content; }
  }
}

.container {
  max-width: 1140px;
  width: calc(100% - 20px);
  margin: 10px auto;
  background-color: #FFFFFF;
  display: flex;
  @include for-size(tablet) {
    flex-direction: column-reverse;
  }
  .leftContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9;
    .backButton {
      display: flex;
      .leftButton {
        display: flex;
        .text{
          margin-left: 5px;
          padding-left: 5px;
        }
      }
      .basketButton {
        margin-left: 20px;
      }
    }
    @include for-size(tablet) {
      background-color: #ffffff63;
      .box {
        margin: 10px 5px;
      }
      .backButton {
        position: absolute;
        top: 10px;
      }
    }
    .regularPrice {
      text-decoration-line: line-through;
      color: #CBCBCB;
      font-size: 30px;
      font-weight: 600;
    }
    .retailPrice {
      color: #4D4D4D;
      font-size: 30px;
      font-weight: 600;
      margin-right: 10px;
    }
  }
  .rightContainer {
    flex: 1;
    border-left: 1px solid #D1D1D1;
    @include for-size(tablet) {
      max-height: 300px;
      border-left: unset;
    }
    @include for-size(phone) {
      max-height: 250px;
    }
    .productDefaultImage {
      width: 100%;
      @include for-size(tablet) {
        width: auto;
        max-width: 100%;
        max-height: calc(100vh - 10px);
        object-fit: cover;
        margin: 0 auto;
        float: right;
      }
    }
  }
}

.selectVariation {
  max-width: max-content;
}
.description {
  color: #D1D1D1;
}