@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600&display=swap');

body {
  background-color: #EDEDED;
  font-family: 'Urbanist', sans-serif;
}
a {
  text-decoration: none !important;
  color: #5F5F5F !important;
}